/* No need to use grid, flex and cascading elements will do the trick*/

body {
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vmax;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

.btn {
  margin-top: 2vh;
  color: white;
  background-color: #202d7a;
  font-weight: bold;
  border: 2px solid #202d7a;
}

