/* No need to use grid, flex and cascading*/

body {
  background-image: url("https://us.123rf.com/450wm/yamabikay/yamabikay1706/yamabikay170600015/79675835-green-felt-fabric-for-background-seamless-square-texture-tile-ready-high-resolution-photo-.jpg?ver=6");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vmax;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

.btn {
  margin-top: 1vh;
  color: goldenrod;
  background-color: blue;
  font-weight: bold;
  border: 2px solid goldenrod;
}

